/***
 *    ██████╗ ███████╗███████╗███████╗████████╗
 *    ██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝
 *    ██████╔╝█████╗  ███████╗█████╗     ██║   
 *    ██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║   
 *    ██║  ██║███████╗███████║███████╗   ██║   
 *    ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝   
 *                                             
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}




/***
 *    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 *    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 *    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *                                                
 */

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Potra';
    src: url('../fonts/potra1-webfont.woff') format('woff'),
         url('../fonts/potra1-webfont.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.woff2') format('woff2');
    font-weight: 600;
}


/***
 *    ████████╗ █████╗  ██████╗ ███████╗
 *    ╚══██╔══╝██╔══██╗██╔════╝ ██╔════╝
 *       ██║   ███████║██║  ███╗███████╗
 *       ██║   ██╔══██║██║   ██║╚════██║
 *       ██║   ██║  ██║╚██████╔╝███████║
 *       ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝
 *                                      
 */

:root {
    --colorExpand: colorExpand .2s ease-in-out forwards;
    --colorRemove: colorRemove .2s ease-in-out forwards;
}

 *, *::before, *::after {
    box-sizing: border-box;
}

[hidden] {
    display: none;
}

html {
    /* background-attachment: fixed;
    background-image: linear-gradient(to top, #05152e, #041837, #031c3f, #031f48, #032251);
    background-repeat: no-repeat; */
    font-size: 100%;
    height: 100%;
    background: #F3F3F3;
}

body {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
    /* grid-template-rows: repeat(20, 5rem); */
    /* grid-template: 10rem 3rem auto / repeat(8, 12.5%); */
    grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 10rem 3rem auto;
    grid-template-areas: 
        ". header header header header header header ."
        ". . . . . . . ."
        ". main main main main main main .";
    overflow-x: hidden;
    font: normal normal 1rem/1.5rem 'OpenSans', Helvetica, Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    /* color: #000; */
}

h1 {
    font: 5rem/5rem 'Potra', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 1.5rem 0 1.5rem;
}

h2 {
    font: normal normal 600 1.5rem/2.25rem 'OpenSans', Helvetica, Arial, sans-serif;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

/* Diagonal background box */
div.bkgrContain {
    height: 100%;
    /* background-color: aqua; */
    grid-area: 1 / 1 / -1 / -1;
    z-index: -10;
    /* overflow: hidden; */
}

#skew {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* width: 100%; */
    height: 40rem;
    /* background-color: #aeaeae; */
    transform: skewY(-15deg);
    transform-origin: top left;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.skewDefault {
    background-color: #aeaeae;
    transition: all .5s ease-in-out;
}

.skewfire {
    background-color: red;
}

@keyframes colorExpand {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }
}

@keyframes colorRemove {
    from {
        height: 100%;
    }
    to {
        height: 0%;
    }
}

#colorFill {
    width: 200%;
    /* height: 6rem; */
    /* border-radius: 50%; */
    transform: skewY(15deg) rotate(-15deg);
    position: absolute;
    bottom: 0%;
    left: -50%;
}

#colorFill.expand {
    animation: var(--colorExpand);
}

#colorFill.remove {
    animation: var(--colorRemove);
}

#colorFill.fire {
    background-color: red;
    /* animation: var(--colorExpand); */
}

#colorFill.water {
    background-color: blue;
    /* animation: var(--colorExpand); */
}

#colorFill.air {
    background-color: silver;
    /* animation: var(--colorExpand); */
}

#colorFill.earth {
    background-color: green;
    /* animation: var(--colorExpand); */
}

#colorFill.metal {
    background-color: rgb(105, 105, 105);
    /* animation: var(--colorExpand); */
}

#colorFill.lightning {
    background-color: yellow;
    /* animation: var(--colorExpand); */
}

#colorFill.plasma {
    background-color: purple;
    /* animation: var(--colorExpand); */
}

#colorFill.void {
    background-color: darkolivegreen;
    /* animation: var(--colorExpand); */
}

#colorFill.life {
    background-color: lightgoldenrodyellow;
    /* animation: var(--colorExpand); */
}

#colorFill.aether {
    background-color: lavender;
    /* animation: var(--colorExpand); */
}

#colorFill.light {
    background-color: oldlace;
    /* animation: var(--colorExpand); */
}

#colorFill.darkness {
    background-color: darkcyan;
    /* animation: var(--colorExpand); */
}

/* Can't get the class to smoothly remove itself through JS */
/* .remove {
    animation: colorRemove .5s ease-in-out reverse;
} */

/***
 *     ██████╗██╗██████╗  ██████╗██╗     ███████╗
 *    ██╔════╝██║██╔══██╗██╔════╝██║     ██╔════╝
 *    ██║     ██║██████╔╝██║     ██║     █████╗  
 *    ██║     ██║██╔══██╗██║     ██║     ██╔══╝  
 *    ╚██████╗██║██║  ██║╚██████╗███████╗███████╗
 *     ╚═════╝╚═╝╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *                                               
 */

#signContainer {

    color: #000;
    position: relative;
    width: 47.25rem;
    height: 47.25rem;
    margin: 0 auto 3rem;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    grid-template-areas:
        ". darkness fire water ."
        "light . . . air"
        "aether . spin . earth"
        "life . . . metal"
        ". void plasma lightning .";
    justify-items: center;
}




/***
 *    ███████╗██╗ ██████╗ ███╗   ██╗███████╗
 *    ██╔════╝██║██╔════╝ ████╗  ██║██╔════╝
 *    ███████╗██║██║  ███╗██╔██╗ ██║███████╗
 *    ╚════██║██║██║   ██║██║╚██╗██║╚════██║
 *    ███████║██║╚██████╔╝██║ ╚████║███████║
 *    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
 *                                          
 */

button.sign:hover {
    cursor: pointer;
}

button.sign img {
    border-radius: 50%;
    box-shadow: none;
    opacity: .7;
    transition: opacity .25s ease-in-out, filter .25s ease-in-out;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

button.sign:hover img {
    filter: drop-shadow(0 0.1rem 0.5rem rgba(0,0,0,.6));
    /* box-shadow: 0 0.05rem 0.25rem rgba(0,0,0,.6);  */
    opacity: 1;
}

button.sign p {
    color: #000;
    font-family: 'MontserratRegular', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    top: -.5rem;
    transition: top .25s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
}

button.sign:hover p {
    top: -.25rem;
    opacity: 1;
}

.sign {
    display: block;
    width: 6.25rem; /*100px*/
    position: relative;
    background: none;
    border: none;
    padding: 0;
}

/* IDs for individual signs */
#fire {
    grid-area: fire;
}

#water {
    grid-area: water;
    top: 2.3625rem;
}

/* #water:hover img {
    background-color: blue;
} */

#air {
    grid-area: air;
    right: 2.3625rem;
}

#earth {
    grid-area: earth;
}

#metal {
    grid-area: metal;
    right: 2.3625rem;
}

#lightning {
    grid-area: lightning;
    bottom: 2.3625rem;
}

#plasma {
    grid-area: plasma;
}

#void {
    grid-area: void;
    bottom: 2.3625rem;
}

#life {
    grid-area: life;
    left: 2.3625rem;
}

#aether {
    grid-area: aether;
}

#light {
    grid-area: light;
    left: 2.3625rem;
}

#darkness {
    grid-area: darkness;
    top: 2.3625rem;
}


/***
 *    ███████╗██████╗ ██╗███╗   ██╗███╗   ██╗███████╗██████╗ ███████╗
 *    ██╔════╝██╔══██╗██║████╗  ██║████╗  ██║██╔════╝██╔══██╗██╔════╝
 *    ███████╗██████╔╝██║██╔██╗ ██║██╔██╗ ██║█████╗  ██████╔╝███████╗
 *    ╚════██║██╔═══╝ ██║██║╚██╗██║██║╚██╗██║██╔══╝  ██╔══██╗╚════██║
 *    ███████║██║     ██║██║ ╚████║██║ ╚████║███████╗██║  ██║███████║
 *    ╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚══════╝
 *                                                                   
 */

@keyframes spin-clock {
    to { transform: rotate(360deg); }
}

@keyframes spin-counter {
      to { transform: rotate(-360deg); }
}
 
.spin {
    display: block;
    /* grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: span 5; */
    /* align-self: center;
    justify-self: center; */
    grid-area: spin;
}

#spin01 {
    width: 6.25rem;
    height: 6.25rem;
    border: 3px solid rgba(255,255,255,0);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin-clock 6s linear infinite;
}
  
#spin02 {
    width: 8rem;
    height: 8rem;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 50%;
    border-left-color: #fff;
    animation: spin-counter 10s linear infinite;
    position: relative;
    top: -.875rem;
}

/* Overlay */
@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to {opacity: 0;}
}

.fadeIn {
    animation: fadeIn .5s ease-in-out forwards;
    display: flex;
}

.fadeOut {
    animation: fadeOut .5s ease-in-out forwards;
    display: flex;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.4);
    color: #f7f7f7;
    grid-area: 1 / 1 / -1 / -1;
    position: fixed;
    z-index: 20;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.noScroll {
    overflow: hidden;
}

.infoContainer {
    width: 60rem;
    height: 40rem;
    background-color: #333333;
    border-radius: 1rem;
    display: grid;
    padding: 5rem;
    grid-template-columns: 22.5rem 5rem 22.5rem;
    grid-template-rows: 3rem 1.5rem 1fr 10rem 2rem 1fr 3rem;
    grid-template-areas: 
        "heading heading heading"
        "subhead subhead subhead"
        ". . ."
        "method . method2"
        "desc . desc2"
        ". . ."
        "close close close";
    justify-items: center;
    align-items: center;
}

.signInfo {
    width: 60rem;
    height: 40rem;
    background-color: #333333;
    border-radius: 1rem;
    display: grid;
    padding: 5rem;
    grid-template-rows: 10rem 4rem 1.5rem 1rem auto 1rem 3rem;
    grid-template-areas: 
        "icon"
        "title"
        "date"
        "."
        "desc"
        "."
        "close";
    justify-items: center;
    align-items: center;
}

#overlay h2 {
    font: 2.5rem 'Potra', Arial, Helvetica, sans-serif;
}

.overlayHeading {
    grid-area: heading;
}

.overlaySubhead {
    grid-area: subhead;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.25rem;
    opacity: .8;
}

.overlayMethod {
    grid-area: method;
    filter: invert(85%) drop-shadow(0 0 1rem black);
    height: 80%;
}

.overlayMethod2 {
    grid-area: method2;
}

.overlayDesc {
    grid-area: desc;
}

.overlayDesc2 {
    grid-area: desc2;
}

.overlayClose {
    grid-area: close;
    background: none;
    color: #f7f7f7;
    font: 2.5rem 'Potra', Arial, Helvetica, sans-serif;
}

.elementIcon {
    grid-area: icon;
    height: 100%;
}

.signName {
    grid-area: title;
}

.dateRange {
    grid-area: date;
}





.hidden {
    display: none;
}