/***
 *    ██████╗ ███████╗███████╗███████╗████████╗
 *    ██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝
 *    ██████╔╝█████╗  ███████╗█████╗     ██║   
 *    ██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║   
 *    ██║  ██║███████╗███████║███████╗   ██║   
 *    ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝   
 *                                             
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}




/***
 *    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 *    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 *    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *                                                
 */

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewayBlack';
    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewaySemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewaySemiboldItalic';
    src: url('../fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibolditalic-webfont.woff') format('woff');
}




/***
 *    ████████╗ █████╗  ██████╗ ███████╗
 *    ╚══██╔══╝██╔══██╗██╔════╝ ██╔════╝
 *       ██║   ███████║██║  ███╗███████╗
 *       ██║   ██╔══██║██║   ██║╚════██║
 *       ██║   ██║  ██║╚██████╔╝███████║
 *       ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝
 *                                      
 */

* {
    box-sizing: border-box;
}

html {
    background-attachment: fixed;
    background-image: linear-gradient(to top, #05152e, #041837, #031c3f, #031f48, #032251);
    background-repeat: no-repeat;
    font-size: 100%;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

h1 {
    font-size: 3rem;
    font-family: 'RalewayBlack'; /*add fallbacks*/
    text-transform: uppercase;
    margin: 1.5rem 0 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-family: 'RalewaySemiboldItalic'; /*add fallbacks*/
}

body {
    height: 100%;
    /* overflow-y: scroll; */
}


/***
 *     ██████╗██╗██████╗  ██████╗██╗     ███████╗
 *    ██╔════╝██║██╔══██╗██╔════╝██║     ██╔════╝
 *    ██║     ██║██████╔╝██║     ██║     █████╗  
 *    ██║     ██║██╔══██╗██║     ██║     ██╔══╝  
 *    ╚██████╗██║██║  ██║╚██████╗███████╗███████╗
 *     ╚═════╝╚═╝╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *                                               
 */

.circle-container {
    color: #fff;
    position: relative;
    width: 48rem;
    height: 48rem;
    border: dashed 1px #fff;
    border-radius: 50%;
    margin: 4rem auto 0;
    padding: 3.54rem; /*3.54rem = 2rem*1.77 (3.125rem = half the width of a link with img, 1.77 = sqrt(3.125))*/
}

.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    /* width: 4em; height: 4em; */
    margin: -2em;
    text-decoration: none;
}




/***
 *    ███████╗██╗ ██████╗ ███╗   ██╗███████╗
 *    ██╔════╝██║██╔════╝ ████╗  ██║██╔════╝
 *    ███████╗██║██║  ███╗██╔██╗ ██║███████╗
 *    ╚════██║██║██║   ██║██║╚██╗██║╚════██║
 *    ███████║██║╚██████╔╝██║ ╚████║███████║
 *    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
 *                                          
 */

 a.sign p {
    color: #fff;
    font-family: 'MontserratRegular';
    text-transform: uppercase;
    position: relative;
    text-align: center;
    top: -.5rem;
    transition: top .25s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
}

a.sign:hover p {
    top: 0;
    opacity: 1;
}

.sign {
    display: block;
    width: 6.25rem; /*100px*/
}

.sign img {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

.deg0 {
    transform: translate(24rem); /* 24rem = half the width of the wrapper */
}

.deg30 {
    transform: rotate(30deg) translate(24rem) rotate(-30deg);
}

.deg60 {
    transform: rotate(60deg) translate(24rem) rotate(-60deg);
}

.deg90 {
    transform: rotate(90deg) translate(24rem) rotate(-90deg);
}

.deg120 {
    transform: rotate(120deg) translate(24rem) rotate(-120deg);
}

.deg150 {
    transform: rotate(150deg) translate(24rem) rotate(-150deg);
}

.deg180 {
    transform: translate(-24rem);
}

.deg210 {
    transform: rotate(210deg) translate(24rem) rotate(-210deg);
}

.deg240 {
    transform: rotate(240deg) translate(24rem) rotate(-240deg);
}

.deg270 {
    transform: rotate(270deg) translate(24rem) rotate(-270deg);
}

.deg300 {
    transform: rotate(300deg) translate(24rem) rotate(-300deg);
}

.deg330 {
    transform: rotate(330deg) translate(24rem) rotate(-330deg);
}




/***
 *    ███████╗██████╗ ██╗███╗   ██╗███╗   ██╗███████╗██████╗ ███████╗
 *    ██╔════╝██╔══██╗██║████╗  ██║████╗  ██║██╔════╝██╔══██╗██╔════╝
 *    ███████╗██████╔╝██║██╔██╗ ██║██╔██╗ ██║█████╗  ██████╔╝███████╗
 *    ╚════██║██╔═══╝ ██║██║╚██╗██║██║╚██╗██║██╔══╝  ██╔══██╗╚════██║
 *    ███████║██║     ██║██║ ╚████║██║ ╚████║███████╗██║  ██║███████║
 *    ╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚══════╝
 *                                                                   
 */

@keyframes spin-clock {
    to { transform: rotate(360deg); }
}

@keyframes spin-counter {
      to { transform: rotate(-360deg); }
}
 
.spin {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

#spin01 {
    width: 6rem;
    height: 6rem;
    border: 3px solid rgba(255,255,255,0);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin-clock 6s linear infinite;
}
  
#spin02 {
    width: 8rem;
    height: 8rem;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 50%;
    border-left-color: #fff;
    animation: spin-counter 6s linear infinite;
}