/***
 *    ██████╗ ███████╗███████╗███████╗████████╗
 *    ██╔══██╗██╔════╝██╔════╝██╔════╝╚══██╔══╝
 *    ██████╔╝█████╗  ███████╗█████╗     ██║   
 *    ██╔══██╗██╔══╝  ╚════██║██╔══╝     ██║   
 *    ██║  ██║███████╗███████║███████╗   ██║   
 *    ╚═╝  ╚═╝╚══════╝╚══════╝╚══════╝   ╚═╝   
 *                                             
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}




/***
 *    ███████╗ ██████╗ ███╗   ██╗████████╗███████╗
 *    ██╔════╝██╔═══██╗████╗  ██║╚══██╔══╝██╔════╝
 *    █████╗  ██║   ██║██╔██╗ ██║   ██║   ███████╗
 *    ██╔══╝  ██║   ██║██║╚██╗██║   ██║   ╚════██║
 *    ██║     ╚██████╔╝██║ ╚████║   ██║   ███████║
 *    ╚═╝      ╚═════╝ ╚═╝  ╚═══╝   ╚═╝   ╚══════╝
 *                                                
 */

@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewayBlack';
    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewaySemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
}

@font-face {
    font-family: 'RalewaySemiboldItalic';
    src: url('../fonts/raleway-semibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibolditalic-webfont.woff') format('woff');
}




/***
 *    ████████╗ █████╗  ██████╗ ███████╗
 *    ╚══██╔══╝██╔══██╗██╔════╝ ██╔════╝
 *       ██║   ███████║██║  ███╗███████╗
 *       ██║   ██╔══██║██║   ██║╚════██║
 *       ██║   ██║  ██║╚██████╔╝███████║
 *       ╚═╝   ╚═╝  ╚═╝ ╚═════╝ ╚══════╝
 *                                      
 */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    /* background-attachment: fixed;
    background-image: linear-gradient(to top, #05152e, #041837, #031c3f, #031f48, #032251);
    background-repeat: no-repeat; */
    font-size: 100%;
}

html, body {
    height: 100%;
    background: #F3F3F3;
  }

h1, h2 {
    text-align: center;
    color: #000;
}

h1 {
    font-size: 3rem;
    font-family: 'RalewayBlack'; /*add fallbacks*/
    text-transform: uppercase;
    margin: 1.5rem 0 1.5rem;
}

h2 {
    font-size: 1.5rem;
    font-family: 'RalewaySemiboldItalic'; /*add fallbacks*/
}

/* Diagonal background box */
.skewed-bg {
background: #8C8272;
padding: 27.5rem 0;
height: 62.5rem;
-webkit-transform: skew(0deg, -30deg);
-moz-transform: skew(0deg, -30deg);
-ms-transform: skew(0deg, -30deg);
-o-transform: skew(0deg, -30deg);
transform: skew(0deg, -30deg);
margin-top: -27.5rem;
box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.6);
}

.skewed-bg .content {
-webkit-transform: skew(0deg, 30deg);
-moz-transform: skew(0deg, 30deg);
-ms-transform: skew(0deg, 30deg);
-o-transform: skew(0deg, 30deg);
transform: skew(0deg, 30deg);
text-align: center;
}

/***
 *     ██████╗██╗██████╗  ██████╗██╗     ███████╗
 *    ██╔════╝██║██╔══██╗██╔════╝██║     ██╔════╝
 *    ██║     ██║██████╔╝██║     ██║     █████╗  
 *    ██║     ██║██╔══██╗██║     ██║     ██╔══╝  
 *    ╚██████╗██║██║  ██║╚██████╗███████╗███████╗
 *     ╚═════╝╚═╝╚═╝  ╚═╝ ╚═════╝╚══════╝╚══════╝
 *                                               
 */

#signContainer {
    color: #000;
    position: relative;
    width: 41.25rem;
    height: 41.25rem;
    margin: 3rem auto 0;
    display: grid;
    grid-template-columns: repeat(5, 8.25rem);
    grid-template-rows: repeat(5, 8.25rem);
    grid-template-areas:
        ". darkness fire water ."
        "light . . . air"
        "aether . spin . earth"
        "life . . . metal"
        ". void plasma lightning .";
    justify-items: center;
}

#gridContainer a {
    display: block;
    text-decoration: none;
}




/***
 *    ███████╗██╗ ██████╗ ███╗   ██╗███████╗
 *    ██╔════╝██║██╔════╝ ████╗  ██║██╔════╝
 *    ███████╗██║██║  ███╗██╔██╗ ██║███████╗
 *    ╚════██║██║██║   ██║██║╚██╗██║╚════██║
 *    ███████║██║╚██████╔╝██║ ╚████║███████║
 *    ╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝
 *                                          
 */


a.sign img {
    border-radius: 50%;
    box-shadow: none;
    opacity: .7;
    transition: opacity .25s ease-in-out, box-shadow .25s ease-in-out;
    display: block;
    margin-bottom: 1rem;
    width: 100%;
}

a.sign:hover img {
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.6); 
    opacity: 1;
}

a.sign p {
    color: #000;
    font-family: 'MontserratRegular';
    text-transform: uppercase;
    position: relative;
    text-align: center;
    top: -.5rem;
    transition: top .25s ease-in-out, opacity .5s ease-in-out;
    opacity: 0;
}

a.sign:hover p {
    top: -.25rem;
    opacity: 1;
}

.sign {
    display: block;
    width: 6.25rem; /*100px*/
    position: relative;
}

/* IDs for individual signs */
#fire {
    grid-area: fire;
}

#water {
    grid-area: water;
    top: 25%;
}

/* #water:hover img {
    background-color: blue;
} */

#air {
    grid-area: air;
    right: 25%;
}

#earth {
    grid-area: earth;
}

#metal {
    grid-area: metal;
    right: 25%;
}

#lightning {
    grid-area: lightning;
    bottom: 25%;
}

#plasma {
    grid-area: plasma;
}

#void {
    grid-area: void;
    bottom: 25%;
}

#life {
    grid-area: life;
    left: 25%;
}

#aether {
    grid-area: aether;
}

#light {
    grid-area: light;
    left: 25%;
}

#darkness {
    grid-area: darkness;
    top: 25%;
}


/***
 *    ███████╗██████╗ ██╗███╗   ██╗███╗   ██╗███████╗██████╗ ███████╗
 *    ██╔════╝██╔══██╗██║████╗  ██║████╗  ██║██╔════╝██╔══██╗██╔════╝
 *    ███████╗██████╔╝██║██╔██╗ ██║██╔██╗ ██║█████╗  ██████╔╝███████╗
 *    ╚════██║██╔═══╝ ██║██║╚██╗██║██║╚██╗██║██╔══╝  ██╔══██╗╚════██║
 *    ███████║██║     ██║██║ ╚████║██║ ╚████║███████╗██║  ██║███████║
 *    ╚══════╝╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝  ╚═══╝╚══════╝╚═╝  ╚═╝╚══════╝
 *                                                                   
 */

@keyframes spin-clock {
    to { transform: rotate(360deg); }
}

@keyframes spin-counter {
      to { transform: rotate(-360deg); }
}
 
.spin {
    display: block;
    /* grid-column-start: 1;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: span 5; */
    /* align-self: center;
    justify-self: center; */
    grid-area: spin;
}

#spin01 {
    width: 6.25rem;
    height: 6.25rem;
    border: 3px solid rgba(255,255,255,0);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin-clock 6s linear infinite;
}
  
#spin02 {
    width: 8rem;
    height: 8rem;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 50%;
    border-left-color: #fff;
    animation: spin-counter 10s linear infinite;
    position: relative;
    top: -.875rem;
}